@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 500px;
  background-image: url(https://img.freepik.com/premium-vector/seamless-pattern-with-hand-drawn-style-latin-alphapet-cut-isolated-vector-illustration-your-kids-background-wallpaper-design-doodle-sketch-style_253081-645.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

h1 {
  color: rgb(67, 196, 168);
}

input {
  margin: 20px 10px 20px 40px;
  padding: 5px 10px;
  width: 20rem;
  height: 2.8rem;
  outline: none;
  color: #000;
  font-weight: 600;
  font-size: 16px;
}

input:focus {
  border: 2px solid rgb(87, 84, 84);
}

button {
  padding: 8px 15px;
  font-weight: 600;
  font-size: 16px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  color: #f00;
  background-color: chartreuse;
}

.sort-result {
  position: absolute;
  top: 60%;
  /* left: 30%; */
  background-color: #000;
  color: #fff;
  padding: 40px 15px;
  width: 30%;
  text-align: center;
  border-radius: 15px;
}

/*